<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>546970087560-dl1t2buukbnmc8gbk1lk9qojmoi0a2l0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.546970087560-dl1t2buukbnmc8gbk1lk9qojmoi0a2l0</string>
	<key>API_KEY</key>
	<string>AIzaSyDdQ2FCXBDRL_n-psbqt8eHAtVyJ_s10OA</string>
	<key>GCM_SENDER_ID</key>
	<string>546970087560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techmate.gravityswitch</string>
	<key>PROJECT_ID</key>
	<string>gravityswitch-70990</string>
	<key>STORAGE_BUCKET</key>
	<string>gravityswitch-70990.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546970087560:ios:5fffa4650ace44c5882f3d</string>
	<key>DATABASE_URL</key>
	<string>https://gravityswitch-70990.firebaseio.com</string>
</dict>
</plist>